<!DOCTYPE HTML>

<html>


<head>
	<meta charset="utf-8">
	<title>Password Generator</title>
</head>

<body>
	<h1>Generate Passwords</h1>
	<h2>Bank</h2>

	How many characters? <input type="number" id="charNum" value="3" min="8" max="100" /><br />
	Number: <input type="checkbox" id="num" checked="true"/>
	Symbol: <input type="checkbox" id="sym" checked="true"/><br />
	<button id="submit1">Submit</button><br />
	Your Password: <input type="text" id="yourPw1" size="5"/><br />
	The Image associate with your Password: <img id="yourPwImage1" height="100" width= "100" />
	
	<h2>Shopping</h2>

	How many characters? <input type="number" id="charNum" value="3" min="8" max="100" /><br />
	Number: <input type="checkbox" id="num" checked="true"/>
	Symbol: <input type="checkbox" id="sym" checked="true"/><br />
	<button id="submit2">Submit</button><br />
	Your Password: <input type="text" id="yourPw2" size="5"/><br />
    The Image associate with your Password: <img id="yourPwImage2" height="100" width= "100" />
	
	<h2>Email</h2>

	How many characters? <input type="number" id="charNum" value="3" min="8" max="100" /><br />
	Number: <input type="checkbox" id="num" checked="true"/>
	Symbol: <input type="checkbox" id="sym" checked="true"/><br />
	<button id="submit3">Submit</button><br />
	Your Password: <input type="text" id="yourPw3" size="5"/><br />
    The Image associate with your Password: <img id="yourPwImage3" height="100" width= "100" />
	
	
	<h4>Image Bank</h4>
		<div class="photos"> 
			<img src="man.gif" alt="man" height="150" width="150" /> 
			<img src="dog.gif" alt="dog" height="150" width="150" /> 
			<img src="car.gif" alt="car" height="150" width="150" /> 
			<img src="woman.gif" alt="woman" height="150" width="150" /> 
			<img src="ball.gif" alt="ball" height="150" width="150" /> 
			<img src="apple.gif" alt="apple" height="150" width="150" /> 
		</div>
		<br>
	<button id="test">Satisfied With Passwords</button><br />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
	<script src="password.js"></script>
	<link rel="stylesheet" type = "text/css" href="style.css" />
	<link rel="stylesheet" type = "style/css" href="code.css" />
</body>

</html>
