<!DOCTYPE HTML>

<html>

<head>
	<meta charset="utf-8">
	<title>Password Generator</title>
</head>

<body>
	<h1>Bank</h1>

	How many characters? <input type="number" id="charNum" value="12" min="8" max="100" /><br />
	Number: <input type="checkbox" id="num"/>
	Symbol: <input type="checkbox" id="sym"/>
	Image: <input type="checkbox" id="img"/><br />
	<button id="submit1">Submit</button><br />
	Your Password: <input type="text" id="yourPw1" size="80"/>

	<h1>Shopping</h1>

	How many characters? <input type="number" id="charNum" value="12" min="8" max="100" /><br />
	Number: <input type="checkbox" id="num"/>
	Symbol: <input type="checkbox" id="sym"/>
	Image: <input type="checkbox" id="img"/><br />
	<button id="submit2">Submit</button><br />
	Your Password: <input type="text" id="yourPw2" size="80"/>

	<h1>Email</h1>

	How many characters? <input type="number" id="charNum" value="12" min="8" max="100" /><br />
	Number: <input type="checkbox" id="num"/>
	Symbol: <input type="checkbox" id="sym"/>
	Image: <input type="checkbox" id="img"/><br />
	<button id="submit3">Submit</button><br />
	Your Password: <input type="text" id="yourPw3" size="80"/>

	<h4>Image Bank</h4>
	<button id="test">Test Complete</button><br />

	<script src="password.js"></script>
	<link rel="stylesheet" type = "text/css" href="style.css" />
	<link rel="stylesheet" type = "style/css" href="code.css" />
</body>

</html>
