<!DOCTYPE HTML>

<html>


<head>
	<meta charset="utf-8">
	<title>Password Tester</title>
</head>

<body>
	
	<h1>Image Bank</h1>
		<div class="photos"> 
			<img src="man.gif" alt="man" height="150" width="150" /> 
			<img src="dog.gif" alt="dog" height="150" width="150" /> 
			<img src="car.gif" alt="car" height="150" width="150" /> 
			<img src="woman.gif" alt="woman" height="150" width="150" /> 
			<img src="ball.gif" alt="ball" height="150" width="150" /> 
			<img src="apple.gif" alt="apple" height="150" width="150" /> 
		</div>
		<br>

		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
	<link rel="stylesheet" type = "text/css" href="style.css" />
	<link rel="stylesheet" type = "style/css" href="code.css" />
</body>

</html>