<!DOCTYPE HTML>

<html>


<head>
	<meta charset="utf-8">
	<title>Password Tester</title>
	Please type in your password and choose the associated image
</head>

<body>
	
	<h1>Bank:</h1>
	
	<div id="bankWarning">
	
	</div>
	
	<input type="text" id="yourPw1" size="5"/><br />
    <button id="bankButton">Submit</button><br>
	
	<div class="bankPhotos"> 
		<img src="man.gif" id="manBank" alt="man" height="100" width="100" /> 
		<img src="dog.gif" id="dogBank" alt="dog" height="100" width="100" /> 
		<img src="car.gif" id="carBank" alt="car" height="100" width="100" /> 
		<img src="woman.gif" id="womanBank" alt="woman" height="100" width="100" /> 
		<img src="ball.gif" id="ballBank" alt="ball" height="100" width="100" /> 
		<img src="apple.gif" id="appleBank" alt="apple" height="100" width="100" /> 
	</div>
	<br>

	<h2>Shopping:</h2>
	
	<div id="shoppingWarning">
	
	</div>
	
	<input type="text" id="yourPw2" size="5"/><br />
    <button id="shoppingButton">Submit</button><br>
	
	<div class="shoppingPhotos"> 
		<img src="man.gif" id="manShopping" alt="man" height="100" width="100" /> 
		<img src="dog.gif" id="dogShopping" alt="dog" height="100" width="100" /> 
		<img src="car.gif" id="carShopping" alt="car" height="100" width="100" /> 
		<img src="woman.gif" id="womanShopping" alt="woman" height="100" width="100" /> 
		<img src="ball.gif" id="ballShopping" alt="ball" height="100" width="100" /> 
		<img src="apple.gif" id="appleShopping" alt="apple" height="100" width="100" />  
	</div>
	<br>
	
	<h3>Email:</h3>
	
	<div id="emailWarning">
	
	</div>
	
	<input type="text" id="yourPw3" size="5"/><br />
    <button id="emailButton">Submit</button><br>
	
	<div class="EmailPhotos"> 
		<img src="man.gif" id="manEmail" alt="man" height="100" width="100" /> 
		<img src="dog.gif" id="dogEmail" alt="dog" height="100" width="100" /> 
		<img src="car.gif" id="carEmail" alt="car" height="100" width="100" /> 
		<img src="woman.gif" id="womanEmail" alt="woman" height="100" width="100" /> 
		<img src="ball.gif" id="ballEmail" alt="ball" height="100" width="100" /> 
		<img src="apple.gif" id="appleEmail" alt="apple" height="100" width="100" />  
	</div>
	<br>
			
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
	<script src="test.js"></script>
	<link rel="stylesheet" type = "text/css" href="style.css" />
	<link rel="stylesheet" type = "style/css" href="code.css" />
</body>

</html>